.button {
    border-radius: 100px;
    border-width: 0;
    padding: 15px 45.1px;
    outline: inherit;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.133rem;
    letter-spacing: 1px;
    line-height: 130%;
    color: $color-dark-3xl;
    cursor: pointer;
}