@mixin flex($justify : center, $align : center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $direction $wrap;

}


$browser-context: 15;

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}