$main-color: #f1cdb3;
$main-color-light: #fddcc4;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
